<!DOCTYPE html>
<html lang="fr">
{% block title %} {{solo_mangadb.titre}} {% endblock title %}

{% extends "layout/root.html" %}

{% block content %}

<body>
    <div class="container">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
               Mettre à jour le manga
        </button>
        <div class="button_container" style="display: flex; justify-content: center;">
            <form action="{{ url_for('delete_manga', id=solo_mangadb._id) }}" method="post" role="form">
                    <button class="btn btn-danger" type="submit" id="delete-btn">Supprimer le manga</button>
            </form>
        </div>
        <div class="img">
            <img class="image" src="{{ solo_mangadb.image_back }}" width="100%" height="100%">
        </div>
        <div class="name marg">
            <p class="detail">{{ solo_mangadb.auteur }}</p>
            <p class="detail big">{{ solo_mangadb.titre }}</p>
        </div>
        <div class="container_trait">
            <span class="trait"></span>
        </div>
        <div class="desc marg">
            <h1 class="title">Histoire</h1>
            <p class="text">{{ solo_mangadb.description }}</p>
        </div>
        <div class="container_trait">
            <span class="trait"></span>
        </div>
        <div class="post_style marg">
            <p class="style"> 
                {{ solo_mangadb.style }}
            </p>
        </div>
        <div class="container_trait">
            <span class="trait"></span>
        </div>
        <div class="container_trait">
            <span class="trait"></span>
        </div>
    </div>




    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Mettre à jour le manga</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form action="{{ url_for('update_manga', id=solo_mangadb._id) }}" method="POST" role="form" style="padding-top: 100px">
                <div class="form-group">
                    <label class="form-text">titre du Manga :</label>
                    <input class="form-control" name="Titre" type="text" placeholder="" aria-label="titre" aria-describedby="add-btn"/>
                </div>
                <div class="form-group">
                    <label class="form-text">Auteur du Manga :</label>
                    <input class="form-control" name="auteur" type="text" placeholder="" aria-label="auteur" aria-describedby="add-btn"/>
                </div>
                <div class="form-group">
                    <label class="form-text">Categorie du Manga :</label>
                    <input class="form-control" name="categorie" type="text" placeholder="" aria-label="categorie" aria-describedby="add-btn"/>  </div>
                <div class="form-group">
                      <label class="form-text">Statut du Manga :</label>
                      <textarea class="form-control" name="statut" type="text" placeholder="" aria-label="Todo" aria-describedby="add-btn"></textarea>
                  </div>
                <div class="form-group">
                      <label class="form-text">Date de sortie du Manga :</label>
                      <textarea class="form-control" name="sortie" type="text" placeholder="" aria-label="Todo" aria-describedby="add-btn"></textarea>
                </div>
                <div class="form-group">
                  <label class="form-text">titrebre de chapitre du Manga :</label>
                  <textarea class="form-control" name="titrebre" type="text" placeholder="" aria-label="Todo" aria-describedby="add-btn"></textarea>
              </div>
                <div class="form-group">
                    <label class="form-text">Description du Manga :</label>
                    <textarea class="form-control" name="description" type="text" placeholder="" aria-label="Todo" aria-describedby="add-btn"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-text">Image Page d'Accueil :</label>
                    <input class="form-control" name="image_card" type="text" aria-label="image_card" aria-describedby="add-btn" placeholder="" />
                </div>
                <div class="form-group">
                    <label class="form-text">Image Page Détails :</label>
                    <input class="form-control" name="image_back" type="text" aria-label="image_back" aria-describedby="add-btn" placeholder="" />
                </div>
                 <button class="btn btn-primary" type="submit" id="add-btn">Mettre à jour le manga</button>
             </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>


</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock content %}
</html>